/config_samples
/config/Settings.json
/config/LogSettings.xml
/config/ClusterConfig.xml
/data/State.json
/local/

# Eclipse specific
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# more
/target/
/local/
