<?xml version="1.0" encoding="UTF-8"?>
<!-- ~ DAPNET CORE PROJECT ~ Copyright (C) 2016 ~ ~ Daniel Sialkowski ~ ~ 
	daniel.sialkowski@rwth-aachen.de ~ ~ Institute of High Frequency Technology 
	~ RWTH AACHEN UNIVERSITY ~ Melatener Str. 25 ~ 52074 Aachen -->

<Configuration monitorInterval="30" shutdownHook="disable">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="logs/DAPNET_CORE.log"
			filePattern="logs/DAPNET_CORE-%d{MM-dd-yyyy}.log.gz"
			ignoreExceptions="false">
			<PatternLayout>
				<Pattern>%d %p %c [%t] %m%n</Pattern>
			</PatternLayout>
			<TimeBasedTriggeringPolicy />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
		</Root>

		<!--Available level: all, trace, debug, info, warn, error, fatal, off -->

		<!--Main -->
		<logger name="org.dapnet.core.DAPNETCore" level="info" />
		<logger name="org.dapnet.core.Settings" level="info" />

		<!--Transmission -->
		<logger name="org.dapnet.core.transmission.TransmissionManager"
			level="info" />
		<logger name="org.dapnet.core.transmission.TransmitterDeviceManager"
			level="info" />
		<logger name="org.dapnet.core.transmission.TransmitterDevice"
			level="info" />
		<logger name="org.dapnet.core.transmission.Raspager" level="info" />
		<logger name="org.dapnet.core.transmission.SkyperProtocol"
			level="info" />

		<!--Cluster -->
		<logger name="org.dapnet.core.cluster.ChannelListener" level="info" />
		<logger name="org.dapnet.core.cluster.ClusterAuthentication"
			level="info" />
		<logger name="org.dapnet.core.cluster.ClusterManager" level="info" />
		<logger name="org.dapnet.core.cluster.MembershipListener"
			level="info" />
		<logger name="org.dapnet.core.cluster.MessageListener" level="info" />
		<logger name="org.dapnet.core.cluster.RpcListener" level="info" />

		<!--Model -->
		<logger name="org.dapnet.core.model.state" level="info" />

		<!--JGroups -->
		<logger name="org.jgroups.protocols" level="error" />

		<!--REST -->
		<logger name="org.dapnet.core.rest.CustomLoggingFilter" level="info" />
		<logger name="org.dapnet.core.rest.RestManager" level="info" />
		<logger name="org.dapnet.core.rest.RestSecurity" level="warn" />
		<logger name="org.dapnet.core.rest.exceptionHandling.ExceptionHandler"
			level="info" />

		<!--Scheduler -->
		<logger name="org.dapnet.core.scheduler.RubricNameTransmissionJob"
			level="info" />
		<logger name="org.dapnet.core.scheduler.SchedulerManager"
			level="info" />
		<logger name="org.dapnet.core.scheduler.TimeTransmissionJob"
			level="info" />
		<logger name="org.quartz" level="error" />

	</Loggers>
</Configuration>